
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      {% bootstrap_css %}
  </head>
  <body>
 <div class="container">
   <div class="col-sm-6">
     {% if form.errors %}
     <p>please enter same password</p>
     {% endif %}
     <h3 class="page-header">Sign Up Page</h3>
     <form class="form" action="{% url 'users:register' %}" method="post">
       {% csrf_token %}
       {% bootstrap_form form %}
       {% buttons %}

       <button type="submit" name="submit" class="btn btn-success"> Sign Up </button>
       {% endbuttons %}
     </form>
   </div>

 </div>

</body>
</html>
