{% load bootstrap3 %}

{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% bootstrap_css %}

      <link rel="stylesheet" type="text/css" href="{% static '2.css' %}">
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>

    <div class="cover">

     <div id="title" > <b>Internals Marks Management </b>
       <header id="textHeader">
         Staff Login
       </header>

       <!-- <div class="container">
       <div id="login-row" class="row justify-content-center align-items-center">
       <div id="login-column" class="col-md-6">
           <div class="box">
               <!-- <div class="shape1"></div>
               <div class="shape2"></div>
               <div class="shape3"></div>
               <div class="shape4"></div>
               <div class="shape5"></div>
               <div class="shape6"></div>
               <div class="shape7"></div> -->
               <!-- <div class="float">
                   <form class="form" action="">

                       <div class="form-group">
                           <label for="username" id="text">  Username:</label><br>
                           <input type="text" name="username" id="username" class="form-control">
                       </div>
                       <div class="form-group">
                           <label for="password" id="text">Password:</label><br>
                           <input type="text" name="password" id="password" class="form-control">
                       </div>
                       <div class="form-group">
                           <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                       </div>
                   </form>
               </div>
           </div>
       </div>
       </div>
       </div> -->


   <ul class="nav navbar-nav navbar-left">
     {% if user.is_authenticated %}
     <li><a href="#">Hello,{{user.username}}</a></li>
     <li><a href="{% url 'users:logout' %}"><span class="glyphicon glyphicon-user"></span> Logout </a></li>
     <hr>
     <br>
     <a href="{% url 'app:subjects' %}"> Internals Marks </a>

     {% else %}
     <li><a href="{% url 'users:login' %}"><span class="glyphicon glyphicon-log-in"></span> Staff Login</a></li>
            <li><a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-log-in"></span> HOD Login</a></li>

     {% endif %}
   </ul>




      </div>



    </div>
    <!-- background Image -->
          <div >

               <section class="sec1">

               </section>
            </div>



  </body>
</html>
